{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/png" href="{% static '/media/favicon.ico' %}"/>
  <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AI Compete</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Page Content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">AI COMPETE</h1>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{% static 'media/tictactoe.png' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tic Tac Toe</h5>
            <p class="card-text">Two players, X and O, take turns marking the spaces in a 3×3 grid. A player wins by placing three of their marks in a horizontal, vertical, or diagonal row.</p>
            <a href="{% url 'tic-tac-toe-create' %}" class="btn btn-primary">Set up bot game</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <style>
    body {
        font-family: 'ABeeZee';
    }
  </style>

</body>

</html>